.package-link {
  text-decoration: none;
}
.package-container {
  height: 350px;
  margin: auto;
  background-color: black;
  background-size: cover;
  -webkit-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
.package-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.3);
  color: #ffffff;
  opacity: 1;
  transition: all 0.5s;
  font-family: 'Playfair Display', serif;
}
.package-items {
  letter-spacing: 3px;
}
.head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}
.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #edd224;
  position: absolute;
  bottom: 0;
  top: 40px;
  margin-top: 10px;
  transition: all 0.5s;
}
.package-items h2{
  text-transform: uppercase;
}
.btns1 {
  margin-top: 50px;
  padding: 10px;
  font-size: 16px;
  opacity: 0;
  letter-spacing: 1px;
  transform: translateY(40px);
  transition: all 0.4s;
  cursor: pointer;
  background: white;
  border: none;
}

.package-container:hover .package-overlay {
  /* opacity: 1; */
  background: rgba(77, 77, 77, 0.7);
}
.package-container:hover .package-overlay .head {
  transform: translateY(0px);
}
.package-container:hover .package-overlay hr {
  width: 100%;
  transition-delay: 0.3s;                                                          
}
.package-container:hover .package-overlay .btns1 {        
  transform: translateY(0px);
  transition-delay: 0.4s;
  opacity: 1;
}
